[user]
	name = lumicia
	email = zuoshengxie@outlook.com

[redential]
	helper = store
[credential]
	helper = store

[alias]
    a = add
    b = branch
    c = commit -m
    ca = commit -am
    cl = clone
    co = checkout
    cob = checkout -b
    cp = cherry-pick
    d = diff --color
    df = diff
    f = fetch
    fo = fetch origin
    fu = fetch upstream
    l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    lo = log --pretty=oneline
    m = merge
    mom = merge origin master
    pl = pull
    plm = pull origin master
    pum = pull upstream master
    ps = push
    psm = push origin master
    r = reset
    rb = rebase
    rc = rebase --continue
    s = status
    sh =stash

