[user]
	name = lumicia
	email = zs.xie@outlook.com

[redential]
	helper = store
[credential]
	helper = store

[alias]
    a = add
    b = branch
    c = commit -m
    co = checkout
    cob = checkout -b
    d = diff --color
    df = diff
    f = fetch
    l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    lo = log --pretty=oneline
    pl = pull
    ps = push
    s = status

